*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
header{
    width: 221.59px;
    height: 48px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
    font-family: arial, sans-serif;
}
#links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:121.59px;
    height:24px;
}
header a{
    color:#222;
}
#other{
    width: 100px;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
#avatar{
    border-radius:50%;
}
#logo{
    margin-bottom: 30px;
}
#body{
    width:100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#searchbar{
    position: relative;
}
input{
    width:550px;
    height:40px;
    outline:none;
    border:1px solid #dfe1e5;
    border-radius:23px ;
    background: none;
    padding:5px 40px;
    margin-bottom: 40px;
}

.fa-search{
    position: absolute;
    top:12px;
    left:15px;
    color:#9aa0a6;
}
#searchbar img{
    position: absolute;
    right:12px;
    top:10px;
}
#extra #toplinks a{
    color:rgb(88, 86, 86);
    background-color:#f8f9fa;
    padding:7px 15px;
    margin-right: 10px;
    font-family: arial, sans-serif;
    font-size:14px;
    border-radius: 3px;
}
#extra #toplinks a:hover{
    box-shadow:0 0 1px 1px rgb(219, 218, 218);
    

}
#extra p{
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}
#footer{
    position: absolute;
    bottom:0;
    left: 0;
    background-color:#f2f2f2 ;
    color: rgb(121, 121, 121);
    font-family: arial, sans-serif;
    font-size: 14px;
}
#location{
    padding:15px 30px;
}
#footerlinks{
    width: 100vw;
    display: grid;
    grid-template-columns: 450px 250px;
    justify-content: space-between;
    border-top: 1px solid #dadce0;
}
#footerlinks a{
    color: rgb(121, 121, 121);
}
#footerlinks #left,#footerlinks #right{
    padding: 12px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}